:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     198,234,253;
    --color-neutral-100:    124,206,251;
    --color-neutral-200:    50,178,249;
    --color-neutral-300:    6,142,216;
    --color-neutral-400:    4,93,141;
    --color-neutral-500:    2,44,67;
    --color-neutral-600:    1,18,27;
    --color-neutral-700:    0,0,0;
    --color-neutral-800:    0,0,0;
    --color-neutral-900:    0,0,0;
    --color-primary-50:     228,245,254;
    --color-primary-100:    155,217,250;
    --color-primary-200:    83,189,246;
    --color-primary-300:    13,160,239;
    --color-primary-400:    9,112,167;
    --color-primary-500:    5,63,94;
    --color-primary-600:    3,37,55;
    --color-primary-700:    1,11,17;
    --color-primary-800:    0,0,0;
    --color-primary-900:    0,0,0;
    --color-secondary-50:     255,255,255;
    --color-secondary-100:    192,227,246;
    --color-secondary-200:    126,198,236;
    --color-secondary-300:    59,168,226;
    --color-secondary-400:    27,128,182;
    --color-secondary-500:    17,81,115;
    --color-secondary-600:    12,56,79;
    --color-secondary-700:    6,31,44;
    --color-secondary-800:    1,6,8;
    --color-secondary-900:    0,0,0;
    }