:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     255,255,255;
    --color-neutral-100:    255,255,255;
    --color-neutral-200:    217,225,232;
    --color-neutral-300:    169,188,203;
    --color-neutral-400:    122,151,174;
    --color-neutral-500:    83,113,136;
    --color-neutral-600:    68,92,111;
    --color-neutral-700:    52,71,85;
    --color-neutral-800:    37,50,60;
    --color-neutral-900:    21,29,35;
    --color-primary-50:     255,255,255;
    --color-primary-100:    255,255,255;
    --color-primary-200:    255,255,255;
    --color-primary-300:    255,255,255;
    --color-primary-400:    249,252,253;
    --color-primary-500:    192,219,234;
    --color-primary-600:    161,202,224;
    --color-primary-700:    131,184,214;
    --color-primary-800:    100,167,203;
    --color-primary-900:    70,149,193;
    --color-secondary-50:     255,255,255;
    --color-secondary-100:    253,250,254;
    --color-secondary-200:    230,192,235;
    --color-secondary-300:    208,134,217;
    --color-secondary-400:    185,75,199;
    --color-secondary-500:    139,47,151;
    --color-secondary-600:    110,37,120;
    --color-secondary-700:    82,28,89;
    --color-secondary-800:    53,18,58;
    --color-secondary-900:    24,8,27;
    }