:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     216,229,249;
    --color-neutral-100:    149,187,239;
    --color-neutral-200:    83,144,228;
    --color-neutral-300:    32,103,203;
    --color-neutral-400:    21,70,137;
    --color-neutral-500:    11,36,71;
    --color-neutral-600:    6,18,36;
    --color-neutral-700:    0,0,0;
    --color-neutral-800:    0,0,0;
    --color-neutral-900:    0,0,0;
    --color-primary-50:     255,255,255;
    --color-primary-100:    255,255,255;
    --color-primary-200:    255,255,255;
    --color-primary-300:    255,255,255;
    --color-primary-400:    255,255,255;
    --color-primary-500:    187,225,250;
    --color-primary-600:    149,208,247;
    --color-primary-700:    111,191,244;
    --color-primary-800:    73,175,242;
    --color-primary-900:    35,158,239;
    --color-secondary-50:     255,255,255;
    --color-secondary-100:    255,255,255;
    --color-secondary-200:    252,243,240;
    --color-secondary-300:    239,192,177;
    --color-secondary-400:    227,141,113;
    --color-secondary-500:    214,90,49;
    --color-secondary-600:    185,74,37;
    --color-secondary-700:    151,60,30;
    --color-secondary-800:    117,47,23;
    --color-secondary-900:    83,33,17;
    }