:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     228,245,254;
    --color-neutral-100:    155,217,250;
    --color-neutral-200:    83,189,246;
    --color-neutral-300:    13,160,239;
    --color-neutral-400:    9,112,167;
    --color-neutral-500:    5,63,94;
    --color-neutral-600:    3,37,55;
    --color-neutral-700:    1,11,17;
    --color-neutral-800:    0,0,0;
    --color-neutral-900:    0,0,0;
    --color-primary-50:     255,255,255;
    --color-primary-100:    192,227,246;
    --color-primary-200:    126,198,236;
    --color-primary-300:    59,168,226;
    --color-primary-400:    27,128,182;
    --color-primary-500:    17,81,115;
    --color-primary-600:    12,56,79;
    --color-primary-700:    6,31,44;
    --color-primary-800:    1,6,8;
    --color-primary-900:    0,0,0;
    --color-secondary-50:     255,255,255;
    --color-secondary-100:    255,255,255;
    --color-secondary-200:    255,251,230;
    --color-secondary-300:    255,239,153;
    --color-secondary-400:    255,227,77;
    --color-secondary-500:    255,215,0;
    --color-secondary-600:    214,181,0;
    --color-secondary-700:    173,146,0;
    --color-secondary-800:    133,112,0;
    --color-secondary-900:    92,77,0;
    }